
Sevgili {{ user.first_name }} {{ user.last_name|upper }},

Hesabınızın şifresini yenileme talebinizi aldık. Güvenliğiniz için aşağıdaki linke tıklayarak şifrenizi yenileyebilirsiniz.

http://{{ domain }}/auth/reset-password?id={{ id }}&reset-token={{ token }}

Bu link 24 saat geçerlidir ve bu süre zarfında kullanılmazsa geçersiz olacaktır. Şifrenizi yeniledikten sonra, yeni şifrenizle giriş yapabilirsiniz.

Güvenliğiniz bizim için önemlidir. Bu işlemi siz talep etmediyseniz, lütfen bizimle iletişime geçin.

Sağlıklı günler dileriz,
