.mBackground {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(283deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.whiteBox {
    background-color: white;
    padding: 20px;
    min-width: 300px;
    height: 50%;
    width: 25%;
    border: 1px solid #3333;
}

.itemBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 100px;
}

.title {
    font-size: 30px;
    color: #3333;
}

.mForm {
    width: 100%;
}

.whiteBoxRegister {
    background-color: white;
    padding: 20px;
    min-width: 300px;
    height: 95%;
    width: 25%;
    border: 1px solid #3333;
}